body {
    margin: 0;
    padding: 0%;
}
header img {
    width: 600;
    align-content: center;
}
footer {
    margin: 0;
    background-color: gray;
    color: white;
}
footer img {
    width: 250px;
    height: 250px;
    padding: 250px;
  }
main section {
    text-align: center;
    margin: 0;
    background-color: gray;
    color: white;
}